body {
  background: #000000;
}
a{
  text-decoration: none;
  color: #000000;
}

.conatiner {
  text-align: center;
  max-width: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 212px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 20px 1px white;
}

div {
  display: inline-block;
}
.conatiner #mele {
  font-size: 50px;
}

#sec,
#min,
#hour,
#mele {
  position: relative;
  font-size: 34px;
  margin: 0 5px;
  font-size: 72px;
  color: #ffffff;
}

#sec::before {
  content: ".";
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
}
#min::before,
#hour::before {
  content: ":";
  position: absolute;
  left: 95%;
  top: 43%;
  transform: translateY(-50%);
}

#sec::after,
#min::after,
#hour::after {
  content: "";
  position: absolute;
  font-size: 17px;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
}

#sec::after {
  content: "sec";
}

#min::after {
  content: "min";
}

#hour::after {
  content: "hr";
}

.btn-section {
  width: 100%;
  margin-top: 35px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 12px;
  border: none;
  font-size: 30px;
  line-height: 70px;
  /* cursor: pointer; */
}

span {
  display: none;
}

.active {
  display: block;
}

p {
  text-align: center;
  color: #ffffff;
}
