body {
  background: #03a9f4;
}

.conatiner {
  text-align: center;
  max-width: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 212px;
  margin-bottom: 20px;
}

div {
  display: inline-block;
}

#sec,
#min,
#hour {
  position: relative;
  font-size: 34px;
  margin: 0 5px;
  font-size: 85px;
}

#min::before,
#hour::before {
  content: ":";
  position: absolute;
  left: 95%;
  top: 43%;
  transform: translateY(-50%);
}

#sec::after,
#min::after,
#hour::after {
  content: "";
  position: absolute;
  font-size: 17px;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
}

#sec::after {
  content: "sec";
}

#min::after {
  content: "min";
}

#hour::after {
  content: "hr";
}

.btn-section {
  width: 100%;
  margin-top: 35px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 12px;
  border: none;
  font-size: 21px;
  line-height: 50px;
  cursor: pointer;
}

span {
  display: none;
}

.active {
  display: block;
}

p {
  text-align: center;
}
